@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Bestellungen</h1>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>Anzahl</th>
            <th>Gericht</th>
            <th>Preis</th>
            @if (User.IsInRole("Waiter"))
            {
                <th>Aktionen</th>
            }
        </tr>
    </thead>
    <tbody>
        @{
            foreach (Order order in ViewBag.Orders)
            {
                <tr>
                    <td>
                        @order.Id
                    </td>
                    <td>
                        @order.Count
                    </td>
                    <td>
                        @order.Meal
                    </td>
                    <td>
                        @order.Price
                    </td>

                    @if (User.IsInRole("Waiter"))
                    {
                        <td>
                            <form asp-action="CreateOrder" asp-route-id="@order.Id">
                                <button class="btn btn-outline-success">Bearbeiten</button>
                            </form>
                            <form asp-action="DeleteOrder" asp-route-id="@order.Id">
                                <button class="btn btn-outline-warning">Löschen</button>
                            </form>
                        </td>

                    }

                </tr>
            }
        }
    </tbody>
</table>


@if (User.IsInRole("Waiter"))
{
    <hr />
    <form asp-action="CreateOrder">
        <button type="submit" class="btn btn-outline-danger">+ Neue Bestellung</button>
    </form>
}

